/*=========Grid Style========*/
.container{
	       width:1170px;
		   padding:0 15px;
		   margin:0 auto;
}
.row{ display:flex;
 flex-wrap:wrap;
 margin-right: -15px;
 margin-left: -15px;
}
.row>*{
	 width:100%;
	 padding:0 10px;
	
}
.justify-contant-space-between{
	justify-content:space-between;
}
.align-item-center{ align-items:center;
}
.col-lg-1{
	  width:8.33%;
	
}
.col-lg-2{
	  width:16.66%;
	  
}
.col-lg-3{
	  width:25%;
	 
}
.col-lg-4{
	  width:33.33%;
	  
}
.col-lg-5{
	  width:41.66%;
	  
}
.col-lg-6{
	  width:50%;
	 
}
.col-lg-7{
	  width:58.33%;
	  
}
.col-lg-8{
	  width:66.66%;

}
.col-lg-9{
	  width:75%;
	  
}
.col-lg-10{
	  width:83.33%;
	  
}
.col-lg-11{
	  width:91.66%;
	  
}
.col-lg-12{
	  width:100%;
	  
}
/*=========btn constant======*/
.btn{ display:inline-block;
text-decoration:none;
text-align:center;
background-color:#ff5821;
color:white;
padding-top:12px;
padding-bottom:12px;
padding-right:20px;
padding-left:20px;
font-size:14px;
}
.text-right{ text-align:right !important;
}
/*
.text-left{ text-align:left !important;
}
.text-center{ text-align:center !important;
}
.text-justify{ text-align:justify !important;
}
*/

/*=========Header======*/
.header-top{background-color:orange;
}
.header-info{ 
background-color:black;
}
.contact-info{
	background-color:black;
	color:white;
}
.contact-info span{ 
display:inline-block;
color:white;
margin-right:10px;
padding-top:10px;
font-size:14px;
}
.contact-info span>a{ color:white;
text-decoration:none;
}
.contact-info span i{ color:#ff5821;
margin-right:5px;
}
.contact-info span{ color:white;
font-size:13px;
}
.contact-info a:hover{ color:#ff5821;
}

.info-btn{ background-color:#ff5821;    
    padding-top:10px;
    padding-bottom:10px;
}
.info-btn>a{ color:white;
text-decoration:none;
}
.nav-section{ background-color:white;
	padding:5px 0;
}

h1.logo >a{
display:inline-block;
text-decoration:none;
color:#635551;
font-size:32px;
font-weight:700;
}
.menubar{ display:flex;
justify-content:flex-end;
}
.menubar .nav-link a{ display:block;
text-decoration:none;
color:#635551;
padding-bottom:20px;
padding-top:20px;
padding-right:15px;
padding-left:15px;
font-size:14px;
}
.nav-link a:hover{ color:#ff5821;
}
.nav-link a.active{ color:#ff5821;
}
.banner-section{ background-color:orange;
 padding:250px 0;
}
.banner-content{ background-color:red;
height:250px;
width:50%;
}
/*--------Choose Style 1------*/
.choose-sec{ background-color:black;
padding:20px 0;
position:relative;
top:-100px;
}
.choose{ background-color:red;
height:350px;
}
.choose-item{ background-color:red;
height:250px;
}
/*--------Choose Style 2------*/
.about{ background-color:black;
padding:80px 0;
}
.image-content{ background-color:red;
height:400px;

}
.about-content{ background-color:red;
height:400px;

}
/*--------logo Style ------*/
.logo-section{ background-color:grey;
padding:100px 0;
margin-bottom:50px;
}
.logo-content{ background-color:red;
height:50px;
}
/*--------service Style ------*/
.service-sec{ background-color:grey;
padding:80px 0;
}
.service-title{ background-color:red;
height:50px;
margin-bottom:30px;
}
.service-content{ background-color:red;
height:200px;
margin:50px 0;
} 
/*--------fourbox Style ------*/
.fourbox-sec{ background-color:black;
padding:80px 0;
}
.fourbox-content{ background-color:red;
height:400px;
margin:80px 0;
}
/*--------bg Style ------*/
.bg-sec{ background-color:grey;
padding:50px 0;
}
.bgcolor{ background-color:red;
height:350px;
margin:50px 0;
}
/*--------Portfolio Style ------*/
.portfolio-sec{ background-color:black;
padding:80px 0;
}
.portfolio-title{ background-color:red;
height:50px;
margin-bottom:30px;
}
.portfolio-content{ background-color:red;
height:200px;
margin:50px 0;
}
.portfolio-btn{ background-color:orange;
height:100%;
}
/*-------Team Style ------*/
.team-sec{ background-color:grey;
padding:80px 0;
}
.team-title{ background-color:red;
height:50px;
margin-bottom:30px;
}
.team-content{ background-color:red;
height:200px;
margin:50px 0;
}
/*-------pricing Style ------*/
.pricing-sec{ background-color:black;
padding:80px 0;
}
.pricing-title{ background-color:red;
height:50px;
margin-bottom:30px;
}
.pricing-content{ background-color:red;
height:400px;
margin:50px 0;
}
/*--------fqa style--------*/
.faq-sec{ background-color:grey;
padding:80px 0;
}
.faq-content{ background-color:red;
height:100px;
margin-bottom:30px;
}
.colum{ flex-direction:column;
padding:0 60px;
}
.box{ background-color:red;
height:50px;
margin-top:20px;
}
/*---------contact--------*/
.contact-sec{ background-color:black;
padding:80px 0;
}
.contact-title{ background-color:red;
height:50px;
margin-bottom:30px;
}
.contact-content{ background-color:red;
height:400px;
margin-bottom:30px;
}
/*---------footer contact--------*/
.footer-sec{ background-color:grey;
padding:80px 0;
}
.footer-content{ background-color:red;
height:400px;
margin:50px 0;
}
/*---------footer last style--------*/
.flast-section{ background-color:black;
 padding:5px 0;
}
.footer{ background-color:red;
 height:50px;
 margin-top:5px;
}
.flast-content{ background-color:red;
height:50px;
margin-top:5px;
}
